.app-header-logo{
    height: 45px;
    float: left;
    margin-top: 10px;
}
.app-header-menu{
    height: 30px;
    float: left;
    margin-top: -2px !important;
    margin-left: 80px !important;
    border-bottom: none !important;
}